* {
    margin: 0;
}

/* Tag Selectors */

h1 {
    font-family: 'Roboto Mono', monospace;
}

button {
    border: solid;
    border-width: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20pt;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 0 10px 20px #777;
    -moz-box-shadow: 0 10px 20px #777;
    box-shadow: 0 10px 20px #777;
}

button:focus {
    outline: none;
}

button:hover {
    cursor:pointer;
    background-color: #df945a;
}

button:active {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06)
}

label {
    color: black;
    font-family: 'Roboto Mono', monospace;
}

input:checked + label {
    color: white;
}

/* ID Selectors */

#app {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculator {
    border: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 40vh;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 20px #777;
    -moz-box-shadow: 0 10px 20px #777;
    box-shadow: 0 10px 20px #777;
}

#top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 95%;
    border-radius: 25px;
}

#display {
    border: solid;
    border-color: black;
    border-width: 2px;
    background-color: #29412d;
    width: 92%;
    height: 80%;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px #777;
    -moz-box-shadow: 0 10px 20px #777;
    box-shadow: 0 10px 20px #777;
    font-family: 'Press Start 2P', cursive;
    color: rgb(200, 179, 111);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#display-bottom {
    font-size: 22pt;
    width: 95%;
    text-align: right;
    word-wrap:break-word
}

#display-top {
    font-size: 12pt;
    width: 95%;
    text-align: right;
    word-wrap:break-word;
}

#bottom-container {
    height: 70%;
    width: 95%;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
}

#button-equals {
    width: 85%;
    height: 78%;
    background-color: #DB6400;
}

#button-equals:hover {
    background-color: #df945a;
}

#button-c {
    background-color: rgb(98, 69, 69);
    color: white;
}

#button-c:hover {
    background-color: rgb(183, 131, 131);
}

#button-plus:hover {
    background-color: rgb(177, 175, 175);
}

#button-subtract:hover {
    background-color: rgb(177, 175, 175);
}

#button-multiply:hover {
    background-color: rgb(177, 175, 175);
}

#button-divide:hover {
    background-color: rgb(177, 175, 175);
}

#night-mode-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

/* Class Selectors */

.column-style {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.calc-button {
    width: 85%;
    height: 15%;
}

.calc-button-color-1 {
    background-color: rgb(98, 98, 98);
}

/* Media Query */

@media all and (max-width: 550px){
    #calculator {
        width: 36vh;
    }
}

@media all and (max-height: 1100px){
    #app {
        justify-content: flex-start;
        height: 100%;
    }
    button {
        font-size: 17pt;
    }
    #calculator {
        width: 40vh;
    }
    #display-bottom {
        font-size: 16pt;
    }
    #display-top {
        font-size: 10pt;
    }
}

@media all and (max-height: 850px){
    button {
        font-size: 12pt;
    }
    #calculator {
        width: 45vh;
    }
    h1 {
        font-size: 18pt;
    }
    #display-bottom {
        font-size: 12pt;
    }
    #display-top {
        font-size: 8pt;
    }
}

@media all and (max-height: 525px){
    button {
        font-size: 8pt;
    }
    #display {
        border-width: 1px;
    }
    h1 {
        font-size: 12pt;
    }
    #calculator{
        border-width: 1px;
    }
    label {
        font-size: 8pt;
    }
    #display-bottom {
        font-size: 7pt;
    }
    #display-top {
        font-size: 5pt;
    }
}

@media all and (max-height: 330px){
    h1{
        font-size: 10pt;
    }
}
