* {
    margin: 0;
}

/* Tag Selectors */

h1 {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 40px;
    margin-top: 20px;
}

button {
    font-family: 'Roboto Mono', monospace;
    font-size: 20pt;
    border-radius: 3px;
    border: none;
    -webkit-box-shadow: 0 10px 20px #777;
    -moz-box-shadow: 0 10px 20px #777;
    box-shadow: 0 10px 20px #777;
}

button:focus {
    outline: none;
}

button:hover {
    cursor:pointer;
    background-color: #df945a;
}

button:active {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06)
}

label {
    color: black;
    font-family: 'Roboto Mono', monospace;
}

input:checked + label {
    color: white;
}

/* ID Selectors */

#app {
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#calculator {
    border: solid;
    border-width: 1.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 40vh;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px #777;
    -moz-box-shadow: 0 10px 20px #777;
    box-shadow: 0 10px 20px #777;
}

#top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 95%;
    border-radius: 25px;
}

#display {
    border: solid;
    border-color: black;
    border-width: 1.5px;
    background-color: #29412d;
    width: 92%;
    height: 80%;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px #777;
    -moz-box-shadow: 0 10px 20px #777;
    box-shadow: 0 10px 20px #777;
    font-family: 'Press Start 2P', cursive;
    color: rgb(200, 179, 111);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y:auto;
}

#display-bottom {
    font-size: 14pt;
    width: 95%;
    text-align: right;
    word-wrap:break-word
}

#display-top {
    font-size: 10pt;
    width: 95%;
    text-align: right;
    word-wrap:break-word;
}

#bottom-container {
    height: 72%;
    width: 95%;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
}

#button-equals {
    width: 85%;
    height: 66%;
    background-color: #DB6400;
}

#button-equals:hover {
    background-color: #df945a;
}

#button-ac {
    background-color: rgb(98, 69, 69);
    color: white;
}

#button-ac:hover {
    background-color: rgb(183, 131, 131);
}

#night-mode-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

/* Class Selectors */

.column-style {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.calc-button {
    width: 83%;
    height: 13%;
}

.calc-button-color-1 {
    background-color:  rgb(116, 116, 116);
}

.calc-button-color-1:hover {
    background-color: rgb(177, 175, 175)
}

.calc-button-color-2 {
    background-color: rgb(116, 116, 116);
    /* color: white; */
}

.calc-button-color-2:hover {
    background-color: rgb(177, 175, 175)
}

/* Media Query */

@media all and (max-width: 550px){
    #calculator {
        width: 36vh;
    }
    #display-bottom {
        font-size: 12pt;
    }
    #display-top {
        font-size: 10pt;
    }
}

@media all and (max-height: 1250px){
    #calculator {
        border-radius: 4px;
    }
    #display-bottom {
        font-size: 12pt;
    }
    #display-top {
        font-size: 10pt;
    }
}

@media all and (max-height: 1150px){
    #app {
        height: 100%;
    }
    button {
        font-size: 17pt;
    }
    #calculator {
        width: 40vh;
        border-radius: 4px;
    }
    #display{
        border-radius: 4px;
    }
    h1 {
        font-size: 20pt;
        margin-bottom: 30px;
    }
}

@media all and (max-height: 1060px){
    button {
        font-size: 16pt;
    }
    #calculator {
        width: 45vh;
        border-radius: 3px;
        border-width: 1px;
    }
    #display{
        border-radius: 3px;
        border-width: 1px;
    }
    h1 {
        font-size: 16pt;
        margin-bottom: 20px;
    }
}

@media all and (max-height: 950px){
    button {
        font-size: 15pt;
    }
    #display-bottom {
        font-size: 10pt;
    }

    #display-top {
        font-size: 8pt;
    }
}

@media all and (max-height: 850px){
    button {
        font-size: 14pt;
    }
    #display-bottom {
        font-size: 8pt;
    }

    #display-top {
        font-size: 6pt;
    }
}

@media all and (max-height: 650px){
    button {
        font-size: 13pt;
    }
    #display-bottom {
        font-size: 6pt;
    }

    #display-top {
        font-size: 4pt;
    }
}

@media all and (max-height: 550px){
    button {
        font-size: 8pt;
        border-radius: .5px;
    }
    #display {
        border-width: 1px;
        border-radius: 3px;
    }
    h1 {
        font-size: 10pt;
        /* margin-bottom: 5px; */
    }
    #calculator{
        border-width: 1px;
        border-radius: 3px;
    }
    label {
        font-size: 8pt;
    }
    #display-bottom {
        font-size: 4pt;
    }
    #display-top {
        font-size: 2pt;
    }
}

@media all and (max-height: 350px){
    h1{
        font-size: 6pt;
        margin-bottom: 15px;
    }
    #display {
        border-width: .5px;
        border-radius: 1px;
    }
    button {
        font-size: 5pt;
    }
    #calculator{
        border-width: .5px;
        border-radius: 1px;
    }
    #display-bottom {
        font-size: 3.5pt;
    }
}
